#menuBox{
    background-color: black;
    color:white;
  text-align: center;
}
h5{
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:white;
    margin: 0px;

}
#mainimage{
    height: 80px;
    border-radius: 40px;
    border-style:inset;
    margin: 0px;
}
#status{
    margin: 0px;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    height:10px;

}
.logo{
    height: 12px;
    border-radius: 2px;
}
.contacts{
padding:0px;
}
.contactsrow{
    text-align: end;
}
.linklogo{
    text-decoration: none;
    color:black;
    font-size:6px;
}
.linklogo:hover{
color:white;
}
table{
    margin-left: auto;
    margin-right: auto;
}
.indexcontainer{
    display: inline-flexbox;
}
.mainindex{
    color: white;
    text-decoration: none;
    text-align: end;
}
.mainindex:hover{
    text-decoration: underline;
}
.subindex{
    text-decoration: none;
    color:white;
    text-align: end;
}
ul{
    text-decoration: none;
    list-style: none;
    margin:0px 0px 0px 3px;
    padding-left:0px;
    text-align: left;

}
.mainstatus{
    display:content;
    font-size:10px;
    font-weight:100 ;
    margin: 0px;
    color:burlywood
}
#statusDetail{
    position: relative;
    height:10px;
    line-height: 10px;
    overflow: hidden;
}
#status #statusDetail li{
    color:#ffffff;
    font-weight: 500;
    position: relative;
    list-style: none;
    top:0;
    animation: slide 10s steps(4) infinite;
}
@keyframes slide {
    100%{
        top: -40px;
    }
}
#status #statusDetail li span{
    position: relative;
}
#status #statusDetail li span::after {
    content:"";
    position:absolute;
    height: 10px;
    width:100%;
    background-color: rgb(0, 0, 0);
    border-left: 1px solid #ffffff;
    left:0;
    animation: typing 2.5s steps(12) infinite;
}
@keyframes typing {
  100% {
    left:100%;
    margin: 0px -8px 0px 8px;
}
}