.container{
    width:100%;
    height:50vh;
    background-size: cover;
    background-repeat: no-repeat;
}
#menuBox{
    background-color: black;
    color:white;
  text-align: center;
}
h1{
    font-style:normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:white;
    margin: 0px;
    font-size: 30px;

}
#mainimage{
    height: 120px;
    border-radius: 60px;
    border-style:inset;
    margin: 0px;
}
#status{
    margin: 0px;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    height:20px;

}
.logo{
    height: 32px;
    width:32px;
    border-radius: 2px;
}
.contacts{
padding:0px;

}
.linklogo{
    margin:0px;
    padding-right:5px;
    border-bottom: 1px solid black;
    position:relative;
}
.contactsrow:last-child{
    padding-right: 0px;
}
.linklogo:hover::after {
width:30%;

}
.contacts:last-child{
    width:0;
}
.linklogo::after{
    content:"";
    width:0;
    height:1.5px;
    background: rgb(255, 255, 255);
    position:absolute;
    left:1;
    bottom:-5px;
    transition: 0.5s;
}
table{
    margin-left: auto;
    margin-right: auto;
}
.indexcontainer{
    display: inline-flexbox;
}
.mainindex{
    color: white;
    text-decoration: none;
    text-align: end;
}
.mainindex:hover{
    text-decoration: underline;
}
.subindex{
    text-decoration: none;
    color:white;
    text-align: end;
}
ul{
    text-decoration: none;
    list-style: none;
    margin:0px 0px 0px 3px;
    padding-left:0px;
    text-align: left;

}
.mainstatus{
    display:content;
    font-size:18px;
    font-weight:100 ;
    margin: 0px;
    color:burlywood
}
#statusDetail{
    position: relative;
    height:px;
    line-height: 20px;
    overflow: hidden;
}
#status #statusDetail li{
    color:#ffffff;
    font-weight: 500;
    position: relative;
    list-style: none;
    top:0;
    animation: slide 10s steps(4) infinite;
}
@keyframes slide {
    100%{
        top: -80px;
    }
}
#status #statusDetail li span{
    position: relative;
}
#status #statusDetail li span::after {
    content:"";
    position:absolute;
    height: 20px;
    width:100%;
    background-color: rgb(0, 0, 0);
    border-left: 1px solid #ffffff;
    left:0;
    animation: typing 2.5s steps(12) infinite;
}
@keyframes typing {
  100% {
    left:100%;
    margin: 0px -8px 0px 8px;
}
}
.tablink{
    font-size: 18px;
    font-weight: 500;
    margin-left: 50px;
    position: relative;
    cursor: pointer;
}
.tablink:hover::after{
    width:50%;
}
.tablink::after{
    content:"";
    width:0;
    height:3px;
    background: rgb(248, 38, 1);
    position:absolute;
    left:0;
    bottom:-6px;
    transition: 0.5s;
}